// Variáveis 
$cor-padrao: darken(#c24e4b, 10);
$cor-branca: #fff; 
$cor-auxiliar: #1e2c35;
// $ponto-de-quebra: 980px;
// $mobile: "(max-width: $ponto-de-quebra)";

$tamanho-fonte-html: 16;

// Mixin 
@mixin borda-arredondada($raio-borda: 0.3em) {
  -webkit-border-radius: $raio-borda;
  -ms-border-radius: $raio-borda;
  -o-border-radius: $raio-borda;
  border-radius: $raio-borda;
}

@mixin sombra-padrao() {
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}

@mixin image-replacement() {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: repeat;
}
